body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {

    margin-top: 0;
    margin-bottom: 0
}

img {
    display: block;

}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ==========Header mobile styl ========== */
.nav-list {
    display: none;
}

.address-block {
    display: none;
}
.header-logo {
    color: var(--NAVY-BLUE, #2E2F42);
       
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0,03em;
        text-transform: uppercase;
}

.container {
    padding: 0 16px;
}

.page-header-conteiner{
    display: flex;
    align-items: center;
justify-content: space-between;
}

.mobile-open-btn {
background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.mobile-open-btn-icon {
    stroke: #2F2F37;
}



.header-main {
    padding-top: 16px;
    padding-bottom: 16px;
}


 @media screen and (min-width:320px) {
.container {

    width: 352px;
    margin: 0 auto ;
    padding: 0, 16px;
}
 }






