body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}



h1,h2,h3,h4,h5,h6,p {
  
    margin-top: 0;
        margin-bottom: 0
}
img {
    display: block;
    
}
ul { margin-top: 0;
    margin-bottom: 0;
        padding-left: 0;
    list-style-type: none;  
}
a {
    text-decoration: none;
}


.container {
margin: 0 auto;
    padding: 0 15px;
    width: 1158px;
    
}
    
/*============ Header============== */

.header-main {

border-bottom: 1px solid #e7e9fc;
   
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);

}

.header-main .container {  
display: flex;

}

.main-navigation{
display: flex;
align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17;
    margin-right: 76px;
}

.logo-text {
    color: #2e2f42;
  
}

.nav-list {
gap: 40px;
list-style: none;
display: flex;

}

.page-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
padding: 24px 0;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color:#2e2f42;
    position: relative;
}


.contact-link:hover,
.contact-link:focus {
    color: #2E2F42;
}


.page-link:hover,
.page-link:focus {
color: #2E2F42;
}

.address-block {
    color: #434455;
    font-family: Roboto;
    margin-left: auto;

}
.address-block-list {
gap: 40px;
display: flex;
padding: 24px 0

}
.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
font-style: normal;
color: var(--SLATE, #434455);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.page-link.special-line::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
 width: 100%;
 color: #404BBF;
}
.special-line {
   color:  #404BBF;
}


/* Hero section */

.section-hero .container {
    margin: 0 auto;
}

.section-hero {
background-color: #2e2f42;
padding: 188px 0;
background-image:linear-gradient(rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg); 
background-repeat: no-repeat;
background-size: cover;
background-position: center;
margin: 0 auto;
max-width: 1440px;
}
 
.main-heading {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
margin: 0 auto;
text-align: center;

}

.main-button {
    color: #FFFFFF;
    background: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
border-radius: 4px;
margin: 0 auto;
margin-top: 48px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}

/* Section-Benefits 2 */

.visually-hidden {
    position: absolute;
        width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
        overflow: hidden;

}

.section-benefits {
    padding: 120px 0;
}

.icon-benefits {
display: flex;
align-items: center;
justify-content: center;
height: 112px;
background-color: #f4f4fd;
border-radius: 4px;
margin-bottom: 8px;

}

.benefits-heading {
    color:  #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.benefits-list {
    display: flex;
    gap: 24px;
}
.benefits-items {
    width: calc((100% - 72px) / 4);
}

.benefits-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

/*============= Section-Team 3 =========*/



.section-team {
    background-color: #F4F4FD;
    text-align: center;
    padding: 120px 0;
    
}

.team-list {
    display: flex;
    gap: 24px;
    
}

.container-item-team {
    padding: 32px 0;
}

.section-team-heading {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;

}
.team-word {
    display: block;
        text-align: center;
}
.team-member {
    background-color: #FFFFFF;
    align-items: center;
    width: calc((100% - 72px) / 4);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

.team-member-name {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}



.team-member-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}



.icon-team-list {
display: flex;
justify-content: center;
gap: 24px;
margin-top: 8px;
}

 .icon-team-item {
width: 40px;
height: 40px;
 }

.icon-team-item-link {
width: 40px;
height: 40px;
background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-team-item-link:hover,
.icon-team-item-link:focus {
    background-color: #404bbf;
}
.icon-team-item-link-swg {
    fill: var(--icon-color, #f4f4fd)

}

/* Section-Portfolio 4 */



.section-portfolio {
    background-color: #FFF;
padding-top: 120px;
  padding-bottom: 120px;
}


.portfolio-list {
    background: #FFFFFF;
    display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;

}


.container-item-portfolio {
border: 1px solid #e7e9fc;
border-top: none;
    padding: 32px 16px;
  
}

.section-portfolio-heading {
        color: #2e2f42;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            margin-bottom: 72px;
            text-align: center;
        }

.portfolio-items{
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-item-heading {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
margin-bottom: 8px;
}


.portfolio-item-description {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.paragraph-hiden {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f4f4fd;
}
.portfolio-items:hover .paragraph-hiden {
    transform: translateY(0%);
}

.container-img-paragraph {
    position: relative;
    overflow: hidden;
}

.portfolio-items:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Footer */


 .footer-container {
    align-items: baseline;
   margin: 0 auto ;
   padding: 0 15px;
   width: 1158px;
 }

 .footer-container-logo {
    margin-right: 120px;
 }

.paragraph-media {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   color: #FFFFFF;
margin-bottom: 16px;
font-weight: 500;
}

  .footer-list {
    display: flex;
    gap: 16px;
  }

.footer-item {
    width: 40px;
    height: 40px;
}

.footer-item-link {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.footer-item-link:hover,
.footer-item-link:focus {
    background-color: #31d0aa;
}

.footer-block {
background-color: #2e2f42;
    padding: 100px 0;
    display: flex;
}

.link-end{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display:inline-block;
    margin-bottom: 16px;
}

.footer-paragraph {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
 
}

.footer-logo-span {
    color: #F4F4FD;
}

.footer-icon {
    width: 24;
    height: 24;
    fill: #f4f4fd;
}
.footer-container-second {
    display: flex;

}

.container-subscribe {
    margin-left: auto;
}

.container-subscribe-paragraph {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.footer-form {
    display: flex;
    gap: 24px;
}
.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}
input::placeholder {
    color: #ffffff;
}
.footer-button-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    fill: white;
}
.subscribe-icone {
    margin-left: 16px;
    
}
/* ==========Modal Window========= */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }


     .backdrop .is-open{ 
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    } 



.modal-window {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;

}
.modal-window-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
   }


.modal-window-button:hover,
.modal-window-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.svg-icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


        .modal-window-pharagraph {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
            letter-spacing: 0.02em;
            color: #2E2F42;
            margin-bottom: 16px;
        }

        .modal-wrapper-conteiner {
            margin-bottom: 8px;
        }
        
               .modal-wrapper-label {
                font-size: 12px;
                line-height: 1.17;
                letter-spacing: 0.04em;
                color:#8e8f99;
                display: block;
                margin-bottom: 4px;
               }

               .modal-form-icon-container {
                position: relative;
                
               }

            .modal-input {
                width: 100%;
                height: 40px;
                border: 1px solid rgba(46, 47, 66, 0.4);
                border-radius: 4px;
                background-color: transparent;
                padding-left: 38px;
                outline: transparent;
                transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

            }
            
            .modal-input:focus  {
            border-color: #4D5AE5;
           
         }

                        .modal-input:focus + .modal-form-icon {
                            fill: #4D5AE5;
                        }

                        .modal-form-icon {
                            position: absolute;
                            left: 16px;
                            top: 50%;
                        transform: translateY(-50%);
                            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                        }
                        .textarea-conteiner {
                            margin-bottom: 16px;
                        }
                        .modal-textarea {
                            height: 120px;
                            font-size: 12px;
                            line-height: 1.17;
                            letter-spacing: 0.04em;
                            color: rgba(46, 47, 66, 0.4);
                            padding: 8px 16px;
                            resize: none;
                            border: 1px solid rgba(46, 47, 66, 0.4);
                            border-radius: 4px;
                            background-color: transparent;
                            outline: transparent;
                            width: 100%;
                            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                        }
                        .modal-textarea:focus {
                            border-color: #4D5AE5;
                        }
.checkbox-conteiner {
    margin-bottom: 24px;
}

.visually-hidden {

        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

.label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
}
       .label-span {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        
            display: inline-flex;
            align-items: center;
            justify-content: center;
            fill: transparent;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
         
       
        }

       

.checkbox-input:checked+.label-checkbox span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
    
}



       .button-form {
        display: block;
        min-width: 169px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: auto;
       }

       .button-form:hover,
       .button-form:focus {
        background: var(--OCEAN, #404BBF);

       }
       

           .checkbox-link {
            color: #4d5ae5;
           }